<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.17/jquery-ui.min.js" type="text/javascript"></script>
	<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.17/themes/pepper-grinder/jquery-ui.css"
		rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="@Url.Content("~/scripts/tiny_mce/jquery.tinymce.js")"></script>
	<script src="@Url.Content("~/scripts/admin.js")" type="text/javascript"></script>
	<link href="@Url.Content("~/content/admin.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
	$(function () {
		$('textarea.rich').tinymce({
			script_url: '@Url.Content("~/scripts/tiny_mce/tiny_mce.js")',
			content_css: '@Url.Content("~/content/tiny_mce.css")',
		});
	});
	</script>
</head>
<body>
	@if (User.Identity.IsAuthenticated)
 {
		<nav id="account">
		@User.Identity.Name
		[@Html.ActionLink(Phrases.LabelLogOut, "logout", "account", new { ReturnUrl = Request.Url.AbsolutePath }, null)]</nav>
 }
	<header>@Html.ActionLink(Phrases.SystemName, "index", "admin")</header>
	<nav id="breadcrumbs">
		<ul>
			<li>@Html.ActionLink(Phrases.SystemName, "index", "admin")</li>
			@foreach (HtmlString crumb in ViewBag.Breadcrumbs)
   {
				<li>@crumb</li>
   }
		</ul>
	</nav>
	<div id="content">
		@RenderBody()
	</div>
</body>
</html>
