@{
    var breadcrumbs = (IEnumerable<HtmlString>)ViewBag.Breadcrumbs;
    var adminConfig = (AdminConfig)ViewBag.AdminConfig;
    var tinyEditorApiKey = adminConfig != null ? adminConfig.TinyEditorApiKey : string.Empty;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.17/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.17/themes/pepper-grinder/jquery-ui.css"
          rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/scripts/tiny_mce/jquery.tinymce.js")"></script>
    <script src="@Url.Content("~/scripts/admin.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/content/admin.css")" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tiny.cloud/1/@tinyEditorApiKey/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea.rich',
            plugins: 'link, code, charmap, lists',
            toolbar: 'undo redo | bold italic underline | numlist bullist | link unlink | charmap | removeformat code',
            menubar: false,
            width: '30em',
            height: '15em'
       });
    </script>
</head>
<body>
    <header>
        <h1>@Html.ActionLink(Phrases.SystemName, "index", "admin")</h1>
        <ul id="breadcrumbs">
            <li>@Html.ActionLink(Phrases.SystemName, "index", "admin")</li>
            @if (breadcrumbs != null)
            {
                foreach (HtmlString crumb in breadcrumbs)
                {
                    <li>@crumb</li>
                }
            }
        </ul>
        <div id="sitelink">@Html.ActionLink(Phrases.SystemViewSite, "index", "home")</div>
        @if (User.Identity.IsAuthenticated)
        {
            <div id="account">@Html.ActionLink(String.Format(Phrases.LabelLogOut, User.Identity.Name), "logout", "account", new { ReturnUrl = Request.Url.AbsolutePath }, null)</div>
        }
    </header>
    <div id="content">
        @RenderBody()
    </div>
</body>
</html>
