@{
    var siteConfig = (SiteConfig)ViewBag.Config;
    var menuShortcuts = (List<MenuShortcut>)ViewBag.MenuShortcuts;
    var menuTabs = (List<ArticleGroup>)ViewBag.ArticleGroups;
    var favicons = (IEnumerable<FaviconDetail>)ViewBag.Favicons;

    var currentMenuTabId = (int?)ViewBag.CurrentMenuTabId;

}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>
        @ViewBag.Title
        @if (ViewBag.Title != siteConfig.Name)
        {
            @String.Format(" | {0}", siteConfig.Name)}
    </title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js" type="text/javascript"></script>
    @foreach (var icon in favicons)
    {
        if (icon.ContentType.Equals("image/x-icon", StringComparison.InvariantCultureIgnoreCase))
        {
            <link rel="shortcut icon" href="@Url.Action("display", "upload", new { category = "Layout", fileName = icon.FileName })" type="@icon.ContentType">
        }
        else
        {
            <link rel="icon" href="@Url.Action("display", "upload", new { category = "Layout", fileName = icon.FileName })" type="@icon.ContentType" sizes="@icon.FileName.FaviconSize()">
        }

    }
    @foreach (var url in ViewBag.ScriptUrls)
    {
        <script src="@url" type="text/javascript"></script>
    }
    <link href="@Url.Content("~/content/sitebase.css")" rel="stylesheet" type="text/css" />
    @foreach (var url in ViewBag.StylesheetUrls)
    {
        <link href="@url" rel="stylesheet" type="text/css" />

    }
    @{ var openGraph = ViewBag.OpenGraph as OpenGraph;}
    @if (openGraph != null)
    {
        <meta property="og:title" content="@openGraph.Title" />
        <meta property="og:site_name" content="@openGraph.SiteName" />
        <meta property="og:image" content="@openGraph.ImageUrl" />
        <meta property="og:type" content="@openGraph.Type" />
        <meta property="og:url" content="@openGraph.Url" />
    }
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.EditShortcut()
    }
    <div id="header">
        <h1>@Html.ActionLink(siteConfig.Name, "index", "home")</h1>
        @if (!(ViewContext.IsForController("home") && ViewContext.IsForAction("search")))
        {
            @Html.SearchForm(Url.Action("search", "home"), string.Empty)
        }
    </div>
    <ul id="sitemenu">
        <li class="@(ViewContext.IsForController("books") ? "selected" : string.Empty)">@Html.ActionLink(SitePhrases.MenuBooks, "index", "books", new { id = UrlParameter.Optional }, null)</li>
        <li class="@(ViewContext.IsForController("authors") ? "selected" : string.Empty)">@Html.ActionLink(SitePhrases.MenuAuthors, "index", "authors")</li>
        @foreach (var tab in menuTabs)
        {
            <li class="@(ViewContext.IsForController("home") && ViewContext.IsForAction("contact") && currentMenuTabId == tab.Id ? "selected" : string.Empty)">@Html.ActionLink(tab.Title, "contact", "home", new { id = tab.Id }, null)</li>
        }
        @foreach (var shortcut in menuShortcuts)
        {
            <li><a href="@shortcut.Href">@shortcut.Name</a></li>
        }
    </ul>
    <div id="content" class="@String.Format("{0} {1}", ViewContext.ControllerName().ToLower(), ViewContext.ActionName().ToLower())">
        @RenderBody()
    </div>
    <div id="footer">
        @(((SiteConfig)ViewBag.Config).Footer)
    </div>
    @Html.GoogleAnalytics(siteConfig.GoogleAnalyticsTrackingCode)
</body>
</html>
