@model BookListMembership
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset class="fields">
		<p>
			<label>@Phrases.LabelBookList</label><br />
			@Model.BookList.Title
		</p>
		<p>
			@Html.LabelFor(model => model.EditionId, Phrases.LabelBook)<br />
			@Html.DropDownListFor(model => model.EditionId, (SelectList)ViewBag.Editions, "–")
			@Html.ValidationMessageFor(model => model.EditionId)
		</p>
	</fieldset>
	<fieldset class="hidden">
		@Html.HiddenFor(model => model.BookListId)
	</fieldset>
	<fieldset class="submit">
		<p>
			<input type="submit" value="@Phrases.LabelSave" />
		</p>
	</fieldset>
}