@model BookList
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset class="fields">
		<p>
			@Html.LabelFor(model => model.Title, Phrases.LabelTitle)<br />
			@Html.EditorFor(model => model.Title)
			@Html.ValidationMessageFor(model => model.Title)
		</p>
	</fieldset>
	<fieldset class="options">
		<p>
			@Html.CheckBoxFor(model => model.IsVisible)
			@Html.LabelFor(model => model.IsVisible, Phrases.LabelIsVisible)
		</p>
	</fieldset>
	<fieldset class="hidden">
		@Html.HiddenFor(model => model.SequenceIdentifier)
	</fieldset>
	<fieldset class="buttons">
		<p>
			<input type="submit" value="@Phrases.LabelSave" />
			@Html.ActionLink(String.Format(Phrases.LabelBackTo, Phrases.PagenameBookLists), "booklists", "admin")
		</p>
	</fieldset>
}
