@model ImprintCMS.Models.Edition
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset class="fields">
		<p>
			@Html.LabelFor(model => model.Number, Phrases.LabelNumber)<br />
			@Html.TextBoxFor(model => model.Number)
			@Html.ValidationMessageFor(model => model.Number)
		</p>
		<p>
			@Html.LabelFor(model => model.BookId, Phrases.LabelBook)<br />
			@Html.DropDownListFor(model => model.BookId, (SelectList)ViewBag.Books, "–")
			@Html.ValidationMessageFor(model => model.BookId)
		</p>
		<p>
			@Html.LabelFor(model => model.BindingId, Phrases.LabelBinding)<br />
			@Html.DropDownListFor(model => model.BindingId, (SelectList)ViewBag.Bindings, "–")
			@Html.ValidationMessageFor(model => model.BindingId)
		</p>
		<p>
			@Html.LabelFor(model => model.Isbn, Phrases.LabelIsbn)<br />
			@Html.TextBoxFor(model => model.Isbn)
			@Html.ValidationMessageFor(model => model.Isbn)
		</p>
		<p>
			@Html.LabelFor(model => model.PageCount, Phrases.LabelPageCount)<br />
			@Html.TextBoxFor(model => model.PageCount)
			@Html.ValidationMessageFor(model => model.PageCount)
		</p>
		<p>
			@Html.LabelFor(model => model.ReleaseDate, Phrases.LabelReleaseDate)<br />
			@Html.TextBox("ReleaseDate", String.Format("{0:d}", Model.ReleaseDate), new { @class = "datepicker" })
			@Html.ValidationMessageFor(model => model.ReleaseDate)
		</p>
		<p>
			@Html.LabelFor(model => model.SmallCoverId, Phrases.LabelSmallImage)<br />
			@Html.DropDownListFor(model => model.SmallCoverId, (SelectList)ViewBag.SmallCovers, "–")
			@Html.ValidationMessageFor(model => model.SmallCoverId)
		</p>
		<p>
			@Html.LabelFor(model => model.LargeCoverId, Phrases.LabelLargeImage)<br />
			@Html.DropDownListFor(model => model.LargeCoverId, (SelectList)ViewBag.LargeCovers, "–")
			@Html.ValidationMessageFor(model => model.LargeCoverId)
		</p>
	</fieldset>
	<fieldset class="options">
		<p>
			@Html.CheckBoxFor(model => model.IsForSale)
			@Html.LabelFor(model => model.IsForSale, Phrases.LabelIsForSale)
		</p>
	</fieldset>
	<fieldset class="submit">
		<p>
			<input type="submit" value="@Phrases.LabelSave" />
		</p>
	</fieldset>
}