@model Relation
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset class="fields">
		<p>
			<label>@Phrases.LabelBook</label><br />
			@Model.Book.FullTitle
		</p>
		<p>
			@Html.LabelFor(model => model.PersonId, Phrases.LabelPerson)<br />
			@Html.DropDownListFor(model => model.PersonId, (SelectList)ViewBag.People, "–")
			@Html.ValidationMessageFor(model => model.PersonId)
		</p>
		<p>
			@Html.LabelFor(model => model.RoleId, Phrases.LabelRole)<br />
			@Html.DropDownListFor(model => model.RoleId, (SelectList)ViewBag.Roles, "–")
			@Html.ValidationMessageFor(model => model.RoleId)
		</p>
	</fieldset>
	<fieldset class="hidden">
		@Html.HiddenFor(model => model.BookId)
		@Html.HiddenFor(model => model.SequenceIdentifier)
	</fieldset>
	<fieldset class="submit">
		<p>
			<input type="submit" value="@Phrases.LabelSave" />
		</p>
	</fieldset>
}