@model Role
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset class="fields">
		<p>
			@Html.LabelFor(model => model.Name, Phrases.LabelName)<br />
			@Html.TextBoxFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</p>
		<p>
			@Html.LabelFor(model => model.ShortName, Phrases.LabelShortName)<br />
			@Html.TextBoxFor(model => model.ShortName)
			@Html.ValidationMessageFor(model => model.ShortName)
		</p>
		<p>
			@Html.LabelFor(model => model.BookListHeading, Phrases.LabelRoleBookListHeading)<br />
			@Html.TextBoxFor(model => model.BookListHeading)
			@Html.ValidationMessageFor(model => model.BookListHeading)
		</p>
	</fieldset>
	<fieldset class="options">
		<p>
			@Html.CheckBoxFor(model => model.ShowBookList)
			@Html.LabelFor(model => model.ShowBookList, Phrases.LabelRoleShowBookList)
		</p>
	</fieldset>
	<fieldset class="hidden">
		@Html.HiddenFor(model => model.SequenceIdentifier)
	</fieldset>
	<fieldset class="submit">
		<p>
			<input type="submit" value="@Phrases.LabelSave" />
		</p>
	</fieldset>
}