@model Book
@{
    ViewBag.Title = Model.Title;
    var stores = ViewBag.Stores as IEnumerable<ExternalStore>;
}
<div id="main">
    @Html.BookTitleSection(Model)
    @Html.RichTextSection(Model.Description)
    @Html.BookExcerptSection(Model)
    @Html.BookAudioExcerptSection(Model)
    @Html.RichTextSection(Model.Quotes, string.Format(SitePhrases.HeadingBookQuotes, Model.Title))
    @Html.RelatedArticlesSection(Model.BookToArticles.Select(_ => _.Article), Model.Title)
</div>
<div id="sidebar">
    @Html.BookCoverSection(Model)
    @if (Model.Editions.Any())
    {
        <div id="editions">
            @foreach (var edition in Model.Editions.OrderBy(e => e.ReleaseDate).ThenBy(e => e.Number))
            {
                <div class="edition">
                    @Html.EditionMetadataSection(edition)
                    @Html.EditionPurchaseOptionsSection(edition, stores)
                </div>
            }
        </div>
    }
    <p class="social">
        @Html.Twitter(Model.Title, string.Empty)
        @Html.Facebook()
    </p>
</div>
