@model BookCatalog
@{
	ViewBag.Title = Phrases.SitemenuBooks;
}
<ul id="genremenu">
	@foreach (var genre in Model.Genres)
 {
		<li>@(genre == Model.CurrentGenre ? new HtmlString("<strong>" + genre.Name + "</strong>") : Html.ActionLink(genre.Name, "index", new { id = genre.Id }))</li>
 }
</ul>
<div id="booklisting">
<table>
	<tbody>
		@foreach (var book in Model.CurrentBooks.OrderBy(b => b.RightsHolders).ThenBy(b => b.Title))
  {
			<tr>
				<td>@book.RightsHolders
				</td>
				<td>
					<a href="@book.Url">@book.Title</a>
				</td>
				<td>@book.Subtitle
				</td>
			</tr>
  }
	</tbody>
</table>
</div>
