@model IEnumerable<ArticleGroup>
@{
	ViewBag.Title = Phrases.PagenameArticleGroups;
	ViewBag.Breadcrumbs = new[] {
		Phrases.PagenameArticleGroups.ToHtmlString()
	};
}
<ul class="adminactions">
	<li>@Html.ActionLink(Phrases.PagenameCreateArticleGroup, "createarticlegroup")</li>
</ul>
<ul class="listing sortable" data-persisturl="@Url.Action("storearticlegrouporder")" data-handlelabel="@Phrases.LabelDragAndDropToSort" data-errorlabel="@Phrases.ValidationAjaxError">
	@foreach (var group in Model)
 {
		<li id="@String.Format("sortitem_{0}", group.Id)">@Html.ActionLink(group.Title, "editarticlegroup", new { id = group.Id })</li>
 }
</ul>
