@model IEnumerable<Book>
@{
    ViewBag.Title = Phrases.PagenameBooks;
    ViewBag.Breadcrumbs = new[] {
Phrases.PagenameBooks.ToHtmlString()
};
}
<ul class="adminactions">
    <li>@Html.ActionLink(Phrases.PagenameCreateBook, "createbook")</li>
</ul>
<div class="filteredlist">
    <p><input type="text" class="filterinput" placeholder="@Phrases.LabelSearch" /></p>
    <table>
        <thead>
            <tr>
                <th>@string.Format("{0} : {1}", Phrases.LabelTitle, Phrases.LabelSubtitle)</th>
                <th>@Phrases.LabelRelations</th>
                <th>@Phrases.LabelEditions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr class="filteredlistitem">
                    <td>@Html.ActionLink(book.FullTitle, "editbook", new { id = book.Id }, new { @class = "filterlabel" })</td>
                    <td class="@(!book.Relations.Any() ? "warning" : string.Empty)">@(!book.Relations.Any() ? Phrases.ValidationNoRightsHolders : book.Relations.Count().ToString(""))</td>
                    <td class="@(!book.HasExternalPublisher && !book.Editions.Any() ? "warning" : book.HasExternalPublisher ? "inactive" : string.Empty)">@(book.HasExternalPublisher ? Phrases.LabelHasExternalPublisher : !book.Editions.Any() ? Phrases.ValidationNoEditions : book.Editions.Count().ToString(""))</td>
                </tr>
            }
        </tbody>
    </table>
</div>