@model IEnumerable<ContactArticle>
@{
	ViewBag.Title = Phrases.PagenameContactArticles;
	ViewBag.Breadcrumbs = new[] {
		Phrases.PagenameContactArticles.ToHtmlString()
	};
}
<ul class="adminactions">
	<li>@Html.ActionLink(Phrases.PagenameCreateContactArticle, "createcontactarticle")</li>
</ul>
<ul class="listing sortable" data-persisturl="@Url.Action("storecontactarticleorder")" data-handlelabel="@Phrases.LabelDragAndDropToSort" data-errorlabel="@Phrases.ValidationAjaxError">
	@foreach (var article in Model)
 {
		<li id="@String.Format("sortitem_{0}", article.Id)"><span class="name">@Html.ActionLink(article.Title, "editcontactarticle", new { id = article.Id })</span>
			@Html.ActionLink(Phrases.LabelDelete, "deletecontactarticle", new { id = article.Id })</li>
 }
</ul>
