@model PersonToArticle

@{
	ViewBag.Title = Phrases.PagenameCreatePersonLink;
	ViewBag.Breadcrumbs = new[] {
		Html.ActionLink(Phrases.PagenameArticles, "articles"),
		Html.ActionLink(Model.Article.Title, "editarticle", new { id = Model.ArticleId }),
		Phrases.PagenameCreatePersonLink.ToHtmlString()
	};
}
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset class="fields">
		<p>
			<label>@Phrases.LabelArticle</label><br />
			@Model.Article.Title
		</p>
		<p>
			@Html.LabelFor(model => model.PersonId, Phrases.LabelPerson)<br />
			@Html.DropDownListFor(model => model.PersonId, (SelectList)ViewBag.People, "–")
			@Html.ValidationMessageFor(model => model.PersonId)
		</p>
	</fieldset>
	<fieldset class="hidden">
		@Html.HiddenFor(model => model.ArticleId)
		@Html.HiddenFor(model => model.SequenceIdentifier)
	</fieldset>
	<fieldset class="submit">
		<p>
			<input type="submit" value="@Phrases.LabelSave" />
		</p>
	</fieldset>
}
