@model Edition
@{
    ViewBag.Title = Phrases.PagenameDelete;
    ViewBag.Breadcrumbs = new[] {
		Html.ActionLink(Phrases.PagenameBooks, "books"),
		Html.ActionLink(Model.Book.Title, "editbook", new { id = Model.BookId }),
		Phrases.LabelDelete.ToHtmlString()
	};
}
@if (Model.OrderLines.Any(l => l.Order.ClosedAt != null))
{
    <p>@Html.DeleteDependencies(Model.Name)</p>
    <h2>@Phrases.LabelClosedOrders</h2>
    <ul>
        @foreach (var order in Model.OrderLines.Where(l => l.Order.ClosedAt != null).Select(l => l.Order).OrderBy(o => o.ClosedAt))
        {
            <li>@String.Format("{0} ({1:d} {1:T})", order.Name, order.ClosedAt)</li>
        }
    </ul>
}
else
{
    <p>@Html.DeleteConfirmation(Model.Name)</p>
    using (Html.BeginForm())
    {
    <p>
        <input type="submit" value="@Phrases.LabelDelete" />
        @Html.ActionLink(String.Format(Phrases.LabelBackTo, Model.Book.Title), "editbook", new { id = Model.BookId })
    </p>
    }
}
