@model Person
@{
    ViewBag.Title = Phrases.PagenameDelete;
    ViewBag.Breadcrumbs = new[] {
		Html.ActionLink(Phrases.PagenamePersons, "people"),
		Html.ActionLink(Model.FullName, "editperson", new { id = Model.Id }),
		Phrases.LabelDelete.ToHtmlString()
	};
}
@if (Model.Relations.Any() || Model.Articles.Any())
{
    <p>@Html.DeleteDependencies(Model.FullName)</p>
    if (Model.Relations.Any())
    {
    <h2>@Phrases.LabelBooks</h2>
    <ul>
        @foreach (var book in Model.Relations.Select(r => r.Book).OrderBy(b => b.Title))
        {
            <li>@Html.ActionLink(book.FullTitle, "editbook", new { id = book.Id })</li>
        }
    </ul>
    }
    if (Model.Articles.Any())
    {
    <h2>@Phrases.LabelArticles</h2>
    <ul>
        @foreach (var article in Model.Articles.OrderBy(b => b.Date))
        {
            <li>@Html.ActionLink(String.Format("{0} ({1:D})", article.Title, article.Date), "editarticle", new { id = article.Id })</li>
        }
    </ul>
    }
}
else
{
    <p>@Html.DeleteConfirmation(Model.FullName)</p>
    using (Html.BeginForm())
    {
    <p>
        <input type="submit" value="@Phrases.LabelDelete" />
        @Html.ActionLink(String.Format(Phrases.LabelBackTo, Phrases.PagenamePersons), "people")
    </p>
    }
}
