@model UploadedFile
@{
    ViewBag.Title = Phrases.PagenameDelete;
    ViewBag.Breadcrumbs = new[] {
		Html.ActionLink(Phrases.PagenameUploads, "uploads"),
		Html.ActionLink(Model.Category, "uploadscategory", new {id = Model.Category}) ,
		Html.ActionLink(Model.FileName, "display", "upload", new { category = Model.Category, fileName = Model.FileName }, null),
		Phrases.LabelDelete.ToHtmlString()
	};
}
@if (Model.Editions.Any() || Model.Editions1.Any() || Model.Persons.Any() || Model.Persons1.Any() || Model.Books.Any())
{
    <p>@Html.DeleteDependencies(Model.FileName)</p>
    if (Model.Editions.Any() || Model.Editions1.Any() || Model.Books.Any())
    {
    <h2>@Phrases.LabelBooks</h2>
    <ul>
        @foreach (var edition in Model.Editions.OrderBy(e => e.Book.Title))
        {
            <li>@Html.ActionLink(String.Format("{0} – {1}", edition.Name, Model.Category), "editedition", new { id = edition.Id })</li>
        }
        @foreach (var edition in Model.Editions1.OrderBy(e => e.Book.Title))
        {
            <li>@Html.ActionLink(String.Format("{0} – {1}", edition.Name, Model.Category), "editedition", new { id = edition.Id })</li>
        }
        @foreach (var book in Model.Books.OrderBy(b => b.Title))
        {
            <li>@Html.ActionLink(String.Format("{0} – {1}", book.Title, Model.Category), "editbook", new { id = book.Id })</li>
        }
    </ul>
    }
    if (Model.Persons.Any() || Model.Persons1.Any())
    {
    <h2>@Phrases.LabelPeople</h2>
    <ul>
        @foreach (var person in Model.Persons.OrderBy(p => p.ReverseName))
        {
            <li>@Html.ActionLink(String.Format("{0} – {1}", person.ReverseName, Model.Category), "editperson", new { id = person.Id })</li>
        }
        @foreach (var person in Model.Persons1.OrderBy(p => p.ReverseName))
        {
            <li>@Html.ActionLink(String.Format("{0} – {1}", person.ReverseName, Model.Category), "editperson", new { id = person.Id })</li>
        }
    </ul>
    }
}
else
{
    <p>@Html.DeleteConfirmation(Model.FileName)</p>
    using (Html.BeginForm())
    {
    <p>
        <input type="submit" value="@Phrases.LabelDelete" />
        @Html.ActionLink(String.Format(Phrases.LabelBackTo, Model.Category), "uploadcategory", new { id = Model.Category })
    </p>
    }
}
