@model Article
@{
	ViewBag.Title = Phrases.PagenameEditArticle;
	ViewBag.Breadcrumbs = new[] {
		Html.ActionLink(Phrases.PagenameArticles, "articles"),
		Phrases.PagenameEditArticle.ToHtmlString()
	};
}
@Html.EditorForModel()
<h2>@Phrases.LabelLinkToPerson</h2>
<ul class="listing sortable" data-persisturl="@Url.Action("storepersontoarticleorder")" data-handlelabel="@Phrases.LabelDragAndDropToSort" data-errorlabel="@Phrases.ValidationAjaxError">
	@foreach (var link in Model.PersonToArticles.OrderBy(r => r.SequenceIdentifier))
 {
		<li id="@String.Format("sortitem_{0}", link.Id)"><span class="name">@link.Person.FullName</span>
			@Html.ActionLink(Phrases.LabelRemove, "removepersontoarticle", new { id = link.Id })</li>
 }
</ul>
<p>@Html.ActionLink(Phrases.PagenameCreatePersonLink, "createpersontoarticle", new { id = Model.Id })</p>
<h2>@Phrases.LabelLinkToBook</h2>
<ul class="listing sortable" data-persisturl="@Url.Action("storebooktoarticleorder")" data-handlelabel="@Phrases.LabelDragAndDropToSort" data-errorlabel="@Phrases.ValidationAjaxError">
	@foreach (var link in Model.BookToArticles.OrderBy(r => r.SequenceIdentifier))
 {
		<li id="@String.Format("sortitem_{0}", link.Id)"><span class="name">@link.Book.FullTitle</span>
			@Html.ActionLink(Phrases.LabelRemove, "removebooktoarticle", new { id = link.Id })</li>
 }
</ul>
<p>@Html.ActionLink(Phrases.PagenameCreateBookLink, "createbooktoarticle", new { id = Model.Id })</p>
