@model IEnumerable<ExternalStore>
@{
	ViewBag.Title = Phrases.PagenameExternalStores;
	ViewBag.Breadcrumbs = new[] {
		Phrases.PagenameExternalStores.ToHtmlString()
	};
}
<ul class="adminactions">
	<li>@Html.ActionLink(Phrases.PagenameCreateExternalStore, "createexternalstore")</li>
</ul>
<ul class="listing sortable" data-persisturl="@Url.Action("storeexternalstoreorder")" data-handlelabel="@Phrases.LabelDragAndDropToSort" data-errorlabel="@Phrases.ValidationAjaxError">
	@foreach (var store in Model)
 {
		<li id="@String.Format("sortitem_{0}", store.Id)"><span class="name">@Html.ActionLink(store.Name, "editexternalstore", new { id = store.Id })</span>
			@Html.ActionLink(Phrases.LabelDelete, "deleteexternalstore", new { id = store.Id })</li>
 }
</ul>
