@{
    ViewBag.Title = Phrases.PagenameAdmin;
}
<h2>@Phrases.LabelMainContent</h2>
<div class="adminactions">
    @Html.ActionLink(Phrases.PagenameBooks, "books")
    @Html.ActionLink(Phrases.PagenameBookLists, "booklists")
    @Html.ActionLink(Phrases.PagenamePersons, "people")
    @Html.ActionLink(Phrases.PagenameUploads, "uploads")
    @Html.ActionLink(Phrases.PagenameArticles, "articles")
    @Html.ActionLink(Phrases.PagenameArticleGroups, "articlegroups")
    @Html.ActionLink(Phrases.PagenameMenuShortcuts, "shortcuts")
</div>
<h2>@Phrases.LabelSupportingContent</h2>
<div class="adminactions">
    @Html.ActionLink(Phrases.PagenameBindings, "bindings")
    @Html.ActionLink(Phrases.PagenameGenres, "genres")
    @Html.ActionLink(Phrases.PagenameRoles, "roles")
    @Html.ActionLink(Phrases.PagenameExternalStores, "externalstores")
</div>
<h2>@Phrases.LabelSiteConfigurations</h2>
<div class="adminactions">
    @Html.ActionLink(Phrases.PagenameConfigurations, "configurations")
</div>
