@{
	ViewBag.Title = Phrases.PagenameAdmin;
	ViewBag.Breadcrumbs = new[] {
		Phrases.PagenameAdmin.ToHtmlString()
	};
}
<h2>@Phrases.LabelMainContent</h2>
<ul class="adminactions">
	<li>@Html.ActionLink(Phrases.PagenameBooks, "books")</li>
	<li>@Html.ActionLink(Phrases.PagenameEditions, "editions")</li>
	<li>@Html.ActionLink(Phrases.PagenamePersons, "people")</li>
	<li>@Html.ActionLink(Phrases.PagenameUploads, "uploads")</li>
</ul>
<h2>@Phrases.LabelSupportingContent</h2>
<ul class="adminactions">
	<li>@Html.ActionLink(Phrases.PagenameBindings, "bindings")</li>
	<li>@Html.ActionLink(Phrases.PagenameGenres, "genres")</li>
	<li>@Html.ActionLink(Phrases.PagenameRoles, "roles")</li>
</ul>
