@model Order
@{
    ViewBag.Title = Phrases.PagenameOrderDetails;
    ViewBag.Breadcrumbs = new[] {
		Html.ActionLink(Phrases.PagenameOrders, "orders"),
		Phrases.PagenameOrderDetails.ToHtmlString()
	};
}
<h2>@String.Format("{0}: {1}", Phrases.LabelOrderId, Model.Id)</h2>
<p>@String.Format("{0:D}", Model.ClosedAt)</p>
<h2>@Phrases.LabelOrderDetails</h2>
<p>@Model.Name<br />
    @Model.Address<br />
    @Model.Postcode<br />
    @Model.City</p>
<p>@Model.Phone<br />
    @Html.Email(Model.Email)</p>
<h2>@Phrases.LabelOrderLines</h2>
<ul>
    @foreach (var edition in Model.OrderLines.Select(l => l.Edition))
    { 
        <li>@Html.ActionLink(edition.Name, "editbook", new { id = edition.BookId }):
            @String.Format("{0:f2}", edition.Price)</li>
    }
</ul>
<p>@String.Format("{0}: {1:f2}", Phrases.LabelOrderSubtotal, Model.Subtotal)<br />
    @String.Format("{0}: {1:f2}", Phrases.LabelOrderDistributionCost, Model.DistributionCost)<br />
    @String.Format("{0}: {1:f2}", Phrases.LabelOrderTotal, Model.Subtotal + Model.DistributionCost)</p>
<p>@Html.ActionLink(String.Format(Phrases.LabelBackTo, Phrases.PagenameOrders), "orders")</p>
