@model IEnumerable<Role>
@{
    ViewBag.Title = Phrases.PagenameRoles;
    ViewBag.Breadcrumbs = new[] {
		Phrases.PagenameRoles.ToHtmlString()
	};
}
<ul class="adminactions">
    <li>@Html.ActionLink(Phrases.PagenameCreateRole, "createrole")</li>
</ul>
<ul class="listing sortable" data-persisturl="@Url.Action("storeroleorder")" data-handlelabel="@Phrases.LabelDragAndDropToSort" data-errorlabel="@Phrases.ValidationAjaxError">
    @foreach (var role in Model)
    {
        <li id="@String.Format("sortitem_{0}", role.Id)"><span class="name">@Html.ActionLink(role.Name, "editrole", new { id = role.Id })</span>
            @Html.ActionLink(Phrases.LabelDelete, "deleterole", new { id = role.Id })</li>
    }
</ul>
