@model UploadCategoryFiles
@{
    ViewBag.Title = Model.Name;
    ViewBag.Breadcrumbs = new[] {
Html.ActionLink(Phrases.PagenameUploads, "uploads"),
Model.Name.ToHtmlString()
};
}
@if (!Model.IsForCache)
{
    <ul class="adminactions">
        <li>@Html.ActionLink(String.Format("{0} {1}", Phrases.LabelCreate, Model.Name), "createupload", new { id = Model.Name })</li>
    </ul>
}
<table>
    <thead>
        <tr>
            <th>@Phrases.LabelFileName</th>
            <th>@Phrases.LabelFileType</th>
            <th>@Phrases.LabelFileSize</th>
            <th>@Phrases.LabelFileActions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model.Files.OrderBy(f => f.FileName))
        {
            <tr>
                <td>@Html.ActionLink(file.FileName, "display", "upload", new { category = file.Category, fileName = file.FileName }, null)</td>
                <td>@file.FileSizeDisplayName()</td>
                <td>@file.FileTypeDisplayName()</td>
                <td>
                    @if (!Model.IsForCache)
                    {
                        @Html.ActionLink(Phrases.LabelReplace, "replaceupload", new { id = file.Id }, null)
                    }
                    @Html.ActionLink(Phrases.LabelDelete, "deleteupload", new { id = file.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Name.Equals("layout", StringComparison.InvariantCultureIgnoreCase))
{
    <p class="notice">@Phrases.LabelLegacyStylesheetLegend</p>
}
