@model IEnumerable<UploadedFile>
@{
	ViewBag.Title = Phrases.PagenameUploads;
	ViewBag.Breadcrumbs = new[] {
		Phrases.PagenameUploads.ToHtmlString()
	};
}
<p>@Html.ActionLink(Phrases.PagenameCreateUpload, "createupload")</p>
<div class="tabs">
	@foreach (var group in Model.GroupBy(f => f.Category))
 {
		<div id="@String.Format("group_{0}", group.Key)">
			<h2>@group.Key</h2>
			<ul class="filelist">
				@foreach (var file in group.OrderBy(f => f.FileName))
	{
					<li><span class="name">@Html.ActionLink(file.FileName, "display", "upload", new { category = file.Category, fileName = file.FileName }, null)</span>
						<span class="data">@file.ContentLength.ToFileSize()</span> <span class="data">@file.ContentType.AsFileType()</span>
						@Html.ActionLink(Phrases.LabelDelete, "deleteupload", new { id = file.Id }, null)
					</li>
	}
			</ul>
		</div>
 }
</div>
