@model IEnumerable<UploadedFile>
@{
	ViewBag.Title = "Uploads";
	ViewBag.Breadcrumbs = new[] {
		"Uploads".ToHtmlString()
	};
}
<p>@Html.ActionLink("New upload", "new")</p>
<div class="tabs">
@foreach (var group in Model.GroupBy(f => f.Category))
{
<div id="@String.Format("group_{0}", group.Key)">
	<h2>@group.Key</h2>
	<ul>
		@foreach (var file in group.OrderBy(f => f.FileName))
  {
			<li><span class="name">@Html.ActionLink(file.FileName, "display", new { category = file.Category, fileName = file.FileName })</span>
				@Html.ActionLink("Delete", "delete", new { id = file.Id }, null)
			</li>
  }
	</ul>
</div>
}
</div>
