@model Login
@{
	ViewBag.Title = Phrases.PagenameLogIn;
	ViewBag.Breadcrumbs = new[] {
		Phrases.PagenameLogIn.ToHtmlString()
	};
}
@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset class="login">
		<p>
			@Html.LabelFor(model => model.Username, Phrases.LabelUsername)<br />
			@Html.TextBoxFor(model => model.Username)
			@Html.ValidationMessageFor(model => model.Username)
		</p>
		<p>
			@Html.LabelFor(model => model.Password, Phrases.LabelPassword)<br />
			@Html.PasswordFor(model => model.Password)
			@Html.ValidationMessageFor(model => model.Password)
		</p>
	</fieldset>
	<fieldset class="hidden">
		@Html.HiddenFor(model => model.ReturnUrl)
	</fieldset>
	<fieldset class="buttons">
		<p>
			<input type="submit" value="@Phrases.LabelSubmitLogin" />
		</p>
	</fieldset>
}
