@model Person
@{
	ViewBag.Title = Model.FullName;
}
@if (Model.SmallImageId != null)
{
	<div id="personimage">
		<img src="@Url.Action("display", "upload", new { category = Model.UploadedFile.Category, fileName = Model.UploadedFile.FileName }, null)" class="image" alt="@Model.FullName" title="@Model.FullName" /><br />
		@String.Format(Phrases.LabelPhotoCredit, Model.PhotographerCredit)
	</div>
}
<h1>@Model.FullName</h1>
@if (!String.IsNullOrWhiteSpace(Model.Description))
{
	<p>@Model.Description.ToRichText()</p>
}
@if (Model.Relations.Any(r => r.Book.IsVisible && r.Book.Editions.Any()))
{
	<h2>@Phrases.LabelPublications</h2>
	<ul>
		@foreach (var book in Model.Relations.Where(r => r.Book.IsVisible && r.Book.Editions.Any()).Select(r => r.Book).Distinct().OrderBy(b => b.ReleaseYear))
  {
			<li>@Html.ActionLink(book.Title, "details", "books", new { id = book.Id }, null)
				@if (!String.IsNullOrWhiteSpace(book.Subtitle))
	{
					@String.Format(". {0}", book.Subtitle)
	}
				@String.Format(". {0}", book.ReleaseYear)
			</li>
  }</ul>
}
