@model PersonPage
@{
	ViewBag.Title = Model.Person.FullName;
}
<div id="image">
	@if (Model.Person.SmallImageId != null)
 {
		<img src="@Url.Action("display", "upload", new { category = Model.Person.UploadedFile.Category, fileName = Model.Person.UploadedFile.FileName }, null)"
			class="pageimage"
			alt="@String.Format(SitePhrases.LabelAuthorImage, Model.Person.FullName)"
			title="@String.Format(SitePhrases.LabelAuthorImage, Model.Person.FullName)" />
	 if (!String.IsNullOrWhiteSpace(Model.Person.PhotographerCredit))
	 {
		<p class="photographer">@String.Format(SitePhrases.LabelPhotoCredit, Model.Person.PhotographerCredit)</p>
	 }
 }
</div>
<div id="main">
	<h1>@Model.Person.FullName</h1>
	@if (!String.IsNullOrWhiteSpace(Model.Person.Description))
 {
		@Model.Person.Description.ToRichText()
 }
	@if (Model.Books.Any())
 {
		<h2>@SitePhrases.HeadingAuthorBooks</h2>
		<ul>
			@foreach (var book in Model.Books)
   {
				<li>@book.PersonPageEntry</li>
   }</ul>
 }
	@if (!String.IsNullOrWhiteSpace(Model.Person.Awards))
 {
		<h2>@SitePhrases.HeadingAuthorAwards</h2>
		@Model.Person.Awards.ToRichText()
 }
	@if (!String.IsNullOrWhiteSpace(Model.Person.Translations))
 {
		<h2>@SitePhrases.HeadingAuthorTranslations</h2>
		@Model.Person.Translations.ToRichText()
 }
	@if (!String.IsNullOrWhiteSpace(Model.Person.Anthologies))
 {
		<h2>@SitePhrases.HeadingAuthorAnthologies</h2>
		@Model.Person.Anthologies.ToRichText()
 }
</div>
