@model Person
@{
    ViewBag.Title = Model.FullName;
}
<div id="main">
    <section class="title">
        <h1>@Model.FullName</h1>
    </section>
    @Html.RichTextSection(Model.Description)
    @Html.PersonBooksSection(Model)
    @Html.RichTextSection(Model.Awards, SitePhrases.HeadingAuthorAwards)
    @Html.RichTextSection(Model.Translations, SitePhrases.HeadingAuthorTranslations)
    @Html.RichTextSection(Model.Anthologies, SitePhrases.HeadingAuthorAnthologies)
    @Html.RichTextSection(Model.MiscInfo)
    @Html.RelatedArticlesSection(Model.PersonToArticles.Select(_ => _.Article), Model.FullName)
</div>
<div id="sidebar">
    @Html.PersonMainImageSection(Model)
    @Html.PersonSecondaryImagesSection(Model)
</div>
