@model Article
@{
    ViewBag.Title = Model.Title;
}
<div id="image">
    @Html.ArticleChosenImage(Model)
    @Html.ArticleImageCredit(Model)
</div>
<div id="main">
    <h1>@Model.Title</h1>
    @Model.Description.ToRichText()
    @Html.ArticleLinks(Model)
    <p class="social">
        @Html.Twitter(Model.Title, string.Empty)<br />
        @Html.Facebook()
    </p>
</div>
