@model SiteFrontPage
@{
	ViewBag.Title = Phrases.SystemSiteName;
}
<div id="articles">
	@foreach (var article in Model.Articles)
 {
		<article>
			<h1>@article.Title</h1>
			@article.Description.ToRichText()
			@if (article.BookId != null || article.PersonId != null)
   {
				<ul class="links">
					@if (article.Book != null)
	 {
						<li>@Html.ActionLink(article.Book.Title, "details", "books", new { id = article.BookId }, null)</li>
	 }
					@if (article.Person != null)
	 {
						<li>@Html.ActionLink(article.Person.FullName, "details", "authors", new { id = article.PersonId }, null)</li>
	 }
				</ul>
   }
			<p class="date">@String.Format("{0:D}", article.Date)</p>
		</article>
 }
</div>
<div id="booklists">
	@foreach (var list in Model.BookLists)
 {
		<div class="booklist">
			<h1>@list.Title</h1>
			<ul>
				@foreach (var edition in list.BookListMemberships.OrderBy(m => m.SequenceIdentifier).Select(m => m.Edition))
	{
					<li>
						@if (edition.UploadedFile != null)
	  {
							<a href="@Url.Action("details", "books", new { id = edition.BookId })">
								<img src="@Url.Action("display", "upload", new { category = edition.UploadedFile.Category, fileName = edition.UploadedFile.FileName })" alt="@String.Format(Phrases.LabelCoverImage, edition.Book.Title)" title="@String.Format(Phrases.LabelCoverImage, edition.Book.Title)" class="cover" /></a>
	  }
						@String.Join(" / ", edition.Book.Relations.OrderBy(r => r.SequenceIdentifier).Select(r => r.PersonName))<br />
						@Html.ActionLink(edition.Book.Title, "details", "books", new { id = edition.BookId }, null)</li>
	}
			</ul>
		</div>
 }
</div>
