@model SiteFrontPage
@{
    ViewBag.Title = ((SiteConfig)ViewBag.Config).Name;
}
<div id="booklists">
    @foreach (var list in Model.BookLists)
    {
        <section class="booklist">
            <h1>@list.Title</h1>
            @Html.BookListAsCards(list)
        </section>
    }
</div>
<div id="articles">
    @foreach (var article in Model.Articles)
    {
        <article>
            <div class="image">
                @Html.ArticleChosenImageInLink(article)
            </div>
            <h1>@article.Title</h1>
            @article.Description.ToRichText()
            @Html.ArticleLinks(article)
        </article>
    }
</div>
