@model SiteFrontPage
@{
	ViewBag.Title = Phrases.SystemSiteName;
}
<div id="booklists">
	@foreach (var list in Model.BookLists)
 {
		<div class="booklist">
			<h1>@list.Title</h1>
			<ul>
				@foreach (var edition in list.BookListMemberships.OrderBy(m => m.SequenceIdentifier).Select(m => m.Edition))
	{
					<li>@Html.ActionLink(String.Format("{0}: {1}", String.Join(" / ", edition.Book.Relations.OrderBy(r => r.SequenceIdentifier).Select(r => r.ReversePersonName)), edition.Book.Title), "details", "books", new { id = edition.BookId }, null)</li>
	}
			</ul>
		</div>
 }
</div>
<div id="articles">
	@foreach (var article in Model.Articles)
 {
		<article>
			<h1>@article.Title</h1>
			<div>@article.Description.ToRichText()</div>
			@if (article.BookId != null || article.PersonId != null)
   {
				<ul class="links">
					@if (article.Book != null)
	 {
						<li>@Html.ActionLink(article.Book.Title, "details", "books", new { id = article.BookId }, null)</li>
	 }
					@if (article.Person != null)
	 {
						<li>@Html.ActionLink(article.Person.FullName, "details", "authors", new { id = article.PersonId }, null)</li>
	 }
				</ul>
   }
		</article>
 }
</div>
