@model SiteFrontPage
@{
	ViewBag.Title = ((SiteConfig)ViewBag.Config).Name;
}
<div id="articles">
	@foreach (var article in Model.Articles)
 {
		<div class="article">
			@if (article.PersonId != null && article.Person.IsVisible)
   {
				<div class="image">
					@if (article.Person.HasPage)
	 {
						<a href="@Url.Action("details", "author", new { id = article.PersonId })">@Html.PersonImage(article.Person)</a>}
	 else
	 {
						@Html.PersonImage(article.Person)
	 }
				</div> 
   }
			<h1>@article.Title</h1>
			@article.Description.ToRichText()
			@if (article.PersonId != null && article.Person.IsVisible && article.Person.HasPage)
   {
				<p class="personlink">@Html.ActionLink(article.Person.FullName, "details", "authors", new { id = article.PersonId }, null)</p>
   }
			<p class="date">@String.Format("{0:D}", article.Date)</p>
		</div>
 }
</div>
<div id="booklists">
	@foreach (var list in Model.BookLists)
 {
		<div class="booklist">
			<h1>@list.Title</h1>
			<ul>
				@foreach (var edition in list.BookListMemberships.OrderBy(m => m.SequenceIdentifier).Select(m => m.Edition))
	{
					<li>
						@if (edition.SmallCoverId != null)
	  {
							<a href="@Url.Action("details", "books", new { id = edition.BookId })" class="book">@Html.CoverImage(edition)</a>
	  }
						@String.Join(" / ", edition.Book.Relations.OrderBy(r => r.SequenceIdentifier).Select(r => r.PersonName))<br />
						@Html.ActionLink(edition.Book.Title, "details", "books", new { id = edition.BookId }, null)
						@(!String.IsNullOrWhiteSpace(edition.Book.Subtitle) ? new HtmlString("<br/>" + edition.Book.Subtitle) : null)<br />
						<br />
						<span class="@String.Format("date{0}", edition.ReleaseDate > DateTime.Today ? " tobereleased" : string.Empty)">@edition.ReleaseDate.ToBookListDate()</span></li>
	}
			</ul>
		</div>
 }
</div>
