@model SearchResult
@{
	ViewBag.Title = Phrases.SitemenuSearch;
}
@Html.SearchForm(Url.Action("search", "home"), Model.Query)
@if (!String.IsNullOrWhiteSpace(Model.Query) && !Model.Books.Any() && !Model.People.Any())
{
	<p class="empty">@Phrases.LabelSearchResultEmpty</p>
}
@if (Model.Books.Any())
{
	<h2>@Phrases.HeadingSearchBooks</h2>
	<ul>
		@foreach (var book in Model.Books)
  {
			<li>@String.Join(" / ", book.Relations.OrderBy(r => r.SequenceIdentifier).Select(r => r.PersonName)):
				@Html.ActionLink(book.Title, "details", "books", new { id = book.Id }, null)</li>
  }
	</ul>
}
@if (Model.People.Any())
{
	<h2>@Phrases.HeadingSearchPeople</h2>
	<ul>
		@foreach (var person in Model.People)
  {
			<li>@Html.ActionLink(person.FullName, "details", "authors", new { id = person.Id }, null)</li>
  }
	</ul>
}
