@model SearchResult
@{
    ViewBag.Title = SitePhrases.MenuSearch;
}
@Html.SearchForm(Url.Action("search", "home"), Model.Query)
@if (!String.IsNullOrWhiteSpace(Model.Query) && !Model.Books.Any() && !Model.People.Any())
{
    <p class="empty">@SitePhrases.LabelSearchResultEmpty</p>
}
@if (Model.People.Any())
{
    <div id="peoplelisting">
        <h2>@SitePhrases.HeadingSearchPeople</h2>
        @Html.PersonLinkCardList(Model.People)
    </div>
}
@if (Model.Books.Any())
{
    <div id="booklisting">
        <h2>@SitePhrases.HeadingSearchBooks</h2>
        @Html.BooksAsCards(Model.Books)
    </div>
}
